div.styleguide {
  background: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

div.styleguide-nav,
div.styleguide-items {
  padding: 20px;
}

div.styleguide-nav {
  background: #fff;
  position: relative;
  z-index: 9999999;
}

div.styleguide-items {
  background: #fff;
}
