.informationBox {
  width: 340.5px;
  height: 255px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.informationBox div {
  width: 248px;
  height: 93px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.informationBox div p {
  width: 232px;
  height: 65px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}